html {
    position: relative;
    min-height: 100%;
    /*overflow: hidden;*/
}

body {
    background-image: url("background.png");
}

.container-fluid {
    padding-left: 0;
}

#header {
    margin-bottom: 2vh;
}


#col-header {
    text-align: center;
}

.channel-row {
    text-align: center;
    height: 150px;
}


.video-row {
    text-align: center;
    height: 135px;
}

.channel-col, .video-col {
    height: 100%;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-auto {
    border: thin solid rgba(0, 0, 0, 0.15);
}

.channel-item {
    padding-top: 0;
    padding-bottom: 0;
    height: 150px;
    line-height: 150px;
}

/*.video-item {*/
/*    padding-top: 0;*/
/*    padding-bottom: 0;*/
/*    height: 180px;*/
/*    line-height: 180px;*/
/*}*/

.video-id {
    padding-top: 0;
    padding-bottom: 0;
    height: 135px;
    line-height: 135px;
}


.video-title {
    font-size: 1vw;
    margin-top: 10%;
}

.channel-desc {
    font-size: 0.75vw;
    text-align: left;
}

.video-desc {
    font-size: 0.5vw;
    text-align: left;
}

.video-thumbnail {
    height: 180px;
    width: 240px;
    overflow: hidden;
    object-position: 0 -22.5px;
}

.video-stat {
    font-size: 0.75vw;
    text-align: left;
    margin-left: 0.5vw;
}

.stat-row {
    height: 25%;
}


/*div[class^='row'], div[class*=' row'] {*/
/*    border: 1px solid rgba(255, 181, 134, 0.50);*/
/*}*/

/*div[class^='col'], div[class*=' col'] {*/
/*    border: 1px solid rgba(143, 196, 255, 0.50);*/
/*}*/
